.about-1,
.about-2,
.about-3,
.about-4,
.about-5,
.about-6,
.about-7,
.about-8,
.about-9,
.about-10,
.about-11,
.about-12,
.about-13,
.about-14,
.about-15,
.about-16,
.about-17,
.about-18,
.about-19,
.about-20,
.about-21,
.about-22,
.about-23,
.about-24,
.about-25 {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 90vh;
  background-size: cover;
}

.about-title {
  font-size: 40px;
  color: #F9F9F9;
  padding: 50px 0px 30px 0px;
  text-align: center;
}

.image-display {
  background-color: #022B3A;
}

.bios {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  color: #F9F9F9;
  font-weight: bold;
  width: 90%;

}

.marisa-name,
.mike-name,
.james-name {
  margin: 40px 0px 40px 0px;
}

.bio-text {
  padding-bottom: 40px;
}

.marisa-container {
  margin-top: 0;
}

.james-container {
  margin-top: 0;
}

.marisa-container,
.mike-container,
.james-container {
  align-self: flex-start;
  width: 30%;
}

.mike-bio,
.james-bio,
.marisa-bio {
  height: 150px;
  width: 150px;
  margin-bottom: 20px;
  margin-top: -20px;
}



@media screen and (max-width: 700px) {
  .about-1,
  .about-2,
  .about-3,
  .about-4,
  .about-5,
  .about-6,
  .about-7,
  .about-8,
  .about-9,
  .about-10,
  .about-11,
  .about-12,
  .about-13,
  .about-14,
  .about-15,
  .about-16,
  .about-17,
  .about-18,
  .about-19,
  .about-20,
  .about-21,
  .about-22,
  .about-23,
  .about-24,
  .about-25  {
    height: 40vh;
    width: 90%;
  }

  .instagram-text {
    width: 90%;
  }

  .bios {
    display: flex;
    flex-direction: column;
  }

  .marisa-container,
  .mike-container,
  .james-container {
    align-self: flex-start;
    width: 90%;
  }
}
